:root{
    --white:hsl(0, 0%, 100%);
    --dark-gray: hsl(228, 12%, 48%);
    --dark-blue:hsl(212, 21%, 14%);
    --green:hsl(158, 36%, 37%);
    --bg-color:hsl(30, 38%, 92%);
}

/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    background-color: var(--white);
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.card .desktop-image{
    width: 288px;
}

.card .mobile-image{
    display: none;
}

.card .description{
    width: 288px;
    padding: 32px;
}

.description .gapped-text{
    font-size: 11px;
    color: var(--dark-gray);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
}

.description h2{
    font-family: 'Fraunces', serif;
    color: var(--dark-blue);
    margin-top: 15px;
    font-size: 31px;
    line-height: 1;
}

.description .para{
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-gray);
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.6;
}

.prices{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.prices .previous-price{
    margin-left: 19px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-gray);
}

.prices .current-price{
    font-size: 32px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--green);
}

.description button{
    background-color: var(--green);
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Montserrat', sans-serif;;
    font-size: 14px;
    margin-top:25px;
    outline: none;
    border: none;
    width: 100%;
    padding: 15px 0;
    justify-content: center;
    border-radius: 7px;
    cursor: pointer;
    transition: .2s linear;
}

.description button:hover{
    background-color: var(--dark-blue);
}

.card .description button img{
    width: 20px;
    height: 20px;
}

@media screen and (max-width:600px) {
    body{
        height: fit-content;
        padding: 20px 0;
    }

    .card .desktop-image{
        display: none;
    }

    .card{
        width: 345px;
        flex-direction: column;
        top: 15px;
    }
    .card .mobile-image{
        display: block;
        width: 100%;
    }

    .card .description{
        width: 100%;
    }
}